@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

#Pagina1{
    background-color:#043873;
    background-image:url(../imgs/LinhasFundo.png);
    height:100vh;
    color:white;
    background-position: center;
    background-repeat: no-repeat;
}

*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration:none;
    color:white;
}
#Navbar{
    margin-left:50%;
    display:flex;
    align-items: center;
    flex-direction:row;
    justify-content:space-around;
    height:10%;
    width:40%;
    font-family: 'Inter', sans-serif;
    gap:4%;

}

#Logo{
    display:flex;
    float:left;
    gap:20px;
    margin-left:10%;
    margin-top:1.8%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}
#Titulo{
    font-style: normal;
    font-weight: 700;
    font-size: 3.5vw;
    line-height: 77px;
    letter-spacing: -0.02em;
    font-family: 'Inter', sans-serif;

}
#Texto1{
    font-style: normal;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 30px;
    letter-spacing: -0.05em;
}

#Botao3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 219px;
    height: 63px;
    background: #4F9CF9;
    border-radius: 8px;
    color:white;
    border-color:#4F9CF9;
}
#Corpo{
    display:flex;
    flex-direction: column;
    margin-top:15%;
    padding:30px;
    margin-left:15%;
    gap:18px;
    
}

#Botao1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    width: 126px;
    height: 60px;
    background: #FFE492;
    border-radius: 8px;
    border-color:#FFE492;
}

.BotaoAzul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    width: 227px;
    height: 60px;
    background: #4F9CF9;
    border-radius: 8px;
    border-color:#4F9CF9;
    color:white;
}

#Pagina2{
    height:100vh;
    display:flex;
    align-items: center;
    float:left;
    flex-direction:row-reverse;
    padding:10px;
    font-family: 'Inter', sans-serif;
    gap:120px;
}

#Figura2{
    display:flex;
    align-items: center;
    margin-top:10%;
}

#Titulo2{
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
    line-height: 87px;
    letter-spacing: -0.02em;
    width: 666px;
    color: #212529;
}

#Corpo2{
    width: 700px;
    height: 87px;
    flex-direction: column;
}

#Texto2{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #212529;
    gap:1vh; 
}

@media screen and (max-width: 768px) {
    main {
        width:100%;
    }
    img{
        width:100%;
        height:100%;
    }
}
}
@media screen and (min-width: 320px) {
    main{
        width:100%;
    }
    img{
        width:100%;
    }
   

.text-vw {
    font-size: 2vw;
}
